.contactBlock {
    min-height: 90vh;
    margin-top: 5vh;
    margin-bottom: 5vh;
    background-color: #bd1d1d;
    display: flex;
    align-items: center;
    position: relative;
    z-index: -1;
}

.contactContainer {
    flex-direction: column;
    justify-content: center;
    background-color: #232323;
    border-radius: 20px;
}

.contactHeader {
    border: 1px solid;
    width: auto;
    background-color: white;
    display: flex;
    justify-content: center;
}

.contactForm {
    border: 1px solid;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 50%;
    min-height: 150px;
    color: #2f3e86;
}

.contactInput {
    background-color: #ded6cd;
}

.contactTextarea {
    min-height: 70px;
    background-color: #ded6cd;
}

@media screen and (max-width: 750px) {
    .contactForm {
        width: 85%;
    }
}