.projectBlock {
    width: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: #232323;
    box-shadow: 0 0 10px rgb(0 0 0 / 85%);
    border: none;
    margin-bottom: 70px;
    padding: 20px;
    border-radius: 4px;
}

.projectImg {
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: 100%;
    background-position: center;
    background-color: black;
    opacity: 0.9;
    border-radius: 10px;
}

.projectImg.onPointImgEnter {
    animation: imgUp 0.5s 1 ease forwards;
}

@keyframes imgUp {
    from { background-size: 100%; opacity: 0.9;}
    to { background-size: 115%; opacity: 1;}
}

.projectImg.onPointImgLeave {
    animation: imgDown 0.5s 1 ease forwards;
}

@keyframes imgDown {
    from { background-size: 115%; opacity: 1;}
    to { background-size: 100%; opacity: 0.9;}
}

.projectText {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.projectHeader {
    font-family: Lato,sans-serif;
    line-height: 120%;
    color: #fff;
    font-weight: 700;
    margin: 15px 0 15px;
    font-size: 1.25rem;
    box-sizing: border-box;
    display: block;
}

.projectHeader.onPoint {
    color: #6c54c7;
}

.projectHeader a {
    text-transform: capitalize;
    letter-spacing: 1px;
    text-decoration: none;
    transition: all .5s ease 0s;
    outline: 0!important;
    box-sizing: border-box;
    font-family: Lato,sans-serif;
    line-height: 120%;
    font-weight: 700;
    font-size: 1.25rem;
}

.projectDescription {
    outline: 0!important;
    box-sizing: border-box;
    display: block;
    font-family: Lato,sans-serif;
}

.projectDescription p {
    color: #888;
    font-family: Lato,sans-serif;
    font-size: 16px;
    line-height: 1.6;
    margin: 15px 0 15px;
    padding: 0;
}