.projectsBlock {
    min-height: 90vh;
    margin-top: 5vh;
    margin-bottom: 5vh;
    background-color: #111;
    display: flex;
    align-items: center;
    position: relative;
    z-index: -1;
}

.projectsBlock::after {
    position: absolute;
    content: '';
    background-color: #6c54c7;
    transform-origin: top right;
    transform: rotate(33deg);
    height: 250%;
    width: 100%;
    top: -5vh;
    left: -100vh;
    z-index: -1;
    box-shadow: 0 0 7px rgb(255 255 255 / 95%);
}

@media only screen and (max-width: 1510px) {
    .projectsBlock::after {
        left: -80vh;
    }
}
@media only screen and (max-width: 1392px) {
    .projectsBlock::after {
        transform: rotate(20deg);
    }
}
@media only screen and (max-width: 1200px) {
    .projectsBlock::after {
        left: -50vh;
    }
}
@media only screen and (max-width: 929px) {
    .projectsBlock::after {
        transform: rotate(0deg);
        height: 115%;
        left: 0;
    }
}

.projectsContainer {
    flex-direction: column;
    justify-content: center;
    background-color: #232323;
    border-radius: 20px;
}

.myProjects {
    border: 1px solid;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
    margin-top: 30px;
}

@media screen and (max-width: 929px) {
    .myProjects {
        justify-content: center;
    }
}